$main: #6d1ed2;
$main-dark: #330065;
$black: #000;

$white: #fff;

$gray: #f1f1f1;
// fonts
$mainFont: 'Inter', sans-serif;
$gotham: 'Gotham', sans-serif;
$gothamBlack: 'Gotham-Black', sans-serif;
$gothamBold: 'Gotham-Bold', sans-serif;